pre[class*="language-"],
.language-css .token.property {
  color: theme("colors.zinc.100");
}

/* Purple */
.token.tag,
.token.module,
.token.keyword,
.token.keyword.control-flow {
  color: #b8b0f6;
}

/* Champagne */
.token.selector,
.token.class-name,
.token.selector.class {
  color: #ffdaad;
}

/* Blue */
.token.unit,
.token.rule,
.token.function,
.token.important,
.token.attr-name,
.token.pseudo-class,
.language-css .token.function,
.language-css .token.class {
  color: #97d0ff;
}

/* Green */
.token.attr-value,
.token.class,
.token.string {
  color: #b9f3d3;
}

.token.punctuation,
.token.attr-equals {
  color: theme("colors.zinc.500");
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme("colors.zinc.400");
}
